@import url(https://fonts.googleapis.com/css?family=Nunito);
@font-face {
  font-family: Monadi;
  src: url("/assets/fonts/Monadi.ttf");
}
@font-face {
  font-family: ElMessiri;
  src: url("/assets/fonts/ElMessiri-Regular-2.ttf");
}
@font-face {
  font-family: URWGeometricArabic;
  src: url("/assets/fonts/URWGeometricArabic.ttf");
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: "URWGeometricArabic";
}

body {
  background-color: #F9F9F9;
}

.blue {
  background: #4C31BC;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

.top-navbar {
  background-color: #FFF;
}
.top-navbar .container .switch-button {
  display: none;
}
.top-navbar .container .switch-button:hover {
  cursor: pointer;
}
.top-navbar .container .nav-items {
  display: flex;
  align-items: center;
}
.top-navbar .container .nav-items .main-item {
  background-color: #06D3F4;
  min-width: 100px;
}
.top-navbar .container .nav-items .main-item .nav-link {
  padding: 12px 30px;
  color: #FFF !important;
  display: block;
  font-size: 20px;
}
.top-navbar .container .nav-items .main-item .dropdown {
  background-color: #06D3F4;
  width: 100%;
}
.top-navbar .container .nav-items .main-item .dropdown .dropdown-trigger {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.top-navbar .container .nav-items .main-item .dropdown .dropdown-trigger .button {
  background-color: #06D3F4;
  border: none;
  outline: none;
  padding-right: 0;
  padding-left: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
}
.top-navbar .container .nav-items .main-item .dropdown .dropdown-trigger .button .icon img {
  height: 100%;
  max-width: 100%;
  border-radius: 50%;
}
.top-navbar .container .nav-items .main-item .dropdown .dropdown-trigger .button:focus {
  box-shadow: none;
  outline: none !important;
}
.top-navbar .container .nav-items .main-item .dropdown .dropdown-menu form .button {
  font-size: inherit;
  padding: 0;
  display: flex;
  justify-content: center;
  background: none;
  color: #383837 !important;
  outline: none;
  border: none;
  height: auto;
  font-family: "URWGeometricArabic";
}
.top-navbar .container .nav-items .nav-item {
  display: flex;
  align-items: center;
  justify-content: center;
}
.top-navbar .container .nav-items .nav-item .nav-link {
  display: block;
  padding: 12px 25px;
  color: #383837;
  font-size: 18px;
}

.main-navbar {
  background-color: #4C31BC;
}
.main-navbar .container {
  display: flex;
  flex-grow: 1;
  align-items: center;
}
.main-navbar .container .nav-items {
  margin: 0 20px;
  display: flex;
  flex-grow: 1;
}
.main-navbar .container .nav-items .nav-item {
  padding: 5px 5px;
}
.main-navbar .container .nav-items .nav-item .nav-link {
  color: #FFF;
  display: block;
  padding: 10px;
}
.main-navbar .container .nav-brand {
  display: flex;
  align-items: center;
  color: #FFF;
  font-size: 25px;
  font-weight: 600;
}
.main-navbar .container .nav-brand .logo {
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.main-navbar .container .nav-brand .logo img {
  width: 40px;
  height: 40px;
}
.main-navbar .container .nav-search {
  background-color: #FFF;
  border-radius: 50px;
  overflow: hidden;
}
.main-navbar .container .nav-search .search-form {
  display: flex;
  align-items: center;
}
.main-navbar .container .nav-search .search-form label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25px;
}
.main-navbar .container .nav-search .search-form label img {
  width: 20px;
}
.main-navbar .container .nav-search .search-form input {
  border: none;
  font-size: 14px;
  padding: 5px;
  height: 30px;
}
.main-navbar .container .nav-search .search-form input:focus {
  outline: none;
}

.section-page .page-header {
  margin: 40px 0;
}
.section-page .page-header .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
}
.section-page .page-header .container .main-post {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  display: flex;
  flex-direction: column;
  padding: 20px;
  background-color: #FFF;
}
.section-page .page-header .container .main-post .post-img img {
  width: 100%;
}
.section-page .page-header .container .main-post .post-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
}
.section-page .page-header .container .main-post .post-title a {
  color: #383837;
}
.section-page .page-header .container .main-post .post-excerpt {
  font-size: 15px;
}
.section-page .page-header .container .sub-posts {
  width: 100%;
  display: flex;
  flex-direction: column;
  grid-gap: 20px;
}
.section-page .page-header .container .sub-posts .post {
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  padding: 20px;
  display: grid;
  grid-template-columns: 3fr 4fr;
  direction: ltr;
  align-items: center;
  grid-gap: 5px;
  background-color: #FFF;
}
.section-page .page-header .container .sub-posts .post .post-img {
  height: 100%;
}
.section-page .page-header .container .sub-posts .post .post-img img {
  width: 100%;
}
.section-page .page-header .container .sub-posts .post .post-info .post-title {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 10px;
}
.section-page .page-header .container .sub-posts .post .post-info .post-title a {
  color: #383837;
}
.section-page .page-header .container .sub-posts .post .post-info .post-excerpt {
  font-size: 14px;
}

.latest-section .container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 20px;
}
.latest-section .container .latest-posts .post {
  display: grid;
  grid-template-columns: 4fr 3fr;
  grid-gap: 10px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  padding: 10px 20px;
  margin-bottom: 10px;
  direction: ltr;
  min-height: 250px;
  height: 250px;
  background-color: #FFF;
}
.latest-section .container .latest-posts .post .post-img {
  height: 220px;
}
.latest-section .container .latest-posts .post .post-img img {
  width: 100%;
  height: 100%;
}
.latest-section .container .latest-posts .post .post-info .post-title {
  font-size: 25px;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 10px;
}
.latest-section .container .latest-posts .post .post-info .post-title a {
  color: #383837;
}
.latest-section .container .latest-posts .post .post-info .post-excerpt {
  font-size: 17px;
  line-height: 25px;
  margin: 5px 0 15px;
}
.latest-section .container .latest-posts .post .post-info .more-button {
  font-size: 18px;
  margin: 10px 0;
  color: #4C31BC;
}
.latest-section .container .banner {
  background-color: #DDD;
}

.posts-page .container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 20px;
  align-items: flex-start;
}

.sidebar {
  margin: 10px 0;
}
.sidebar .tabs ul li {
  flex: 1;
}
.sidebar .items {
  display: none;
}
.sidebar .items .item {
  display: flex;
  flex-direction: column;
  padding: 5px 20px;
  font-size: 1.2em;
  background-color: #FEFEFE;
  margin: 5px 0;
}
.sidebar .items .item a {
  display: flex;
  flex-grow: 1;
}
.sidebar .items .item:hover {
  background-color: #FAFAFA;
  cursor: pointer;
}
.sidebar .items .post {
  display: flex;
  grid-gap: 10px;
  padding: 5px 10px;
  margin: 5px 0;
}
.sidebar .items .post .post-thumbnail {
  width: 75px;
  height: 75px;
}
.sidebar .items .post .post-thumbnail img {
  width: 100%;
  height: 100%;
}
.sidebar .items .post .post-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  padding: 5px 0;
}
.sidebar .items .post .post-info .post-title {
  font-size: 16px;
  font-weight: 600;
}
.sidebar .items .post .post-info .post-subinfo {
  display: flex;
  font-size: 14px;
}
.sidebar .items .post .post-info .post-subinfo .post-date {
  margin-right: 10px;
}
.sidebar .show {
  display: block;
}
.sidebar .side-item {
  background-color: #FFF;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
  border-radius: 5px;
  margin-bottom: 5px;
}
.sidebar .post-tags {
  padding: 5px;
}
.sidebar .post-tags .btns {
  flex-wrap: wrap;
}
.sidebar .post-tags .btns .tag-btn {
  margin: 0 2px 5px 0;
}

.more-bar {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  margin: 50px 0;
}
.more-bar .bar {
  width: 100%;
  height: 4px;
  background-color: #4C31BC;
}
.more-bar .bar-text {
  position: absolute;
  z-index: 10;
  display: flex;
  align-items: center;
  background-color: #FFF;
  padding: 0px 40px;
  border: 4px solid #4C31BC;
  border-radius: 100px;
  color: #4C31BC;
  font-size: 20px;
}
.more-bar .bar-text span {
  margin-top: 10px;
  margin-bottom: 10px;
}

.footer {
  background-color: #4C31BC;
  padding: 50px 0;
  margin: 20px 0 0;
}
.footer .footer-cols {
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  direction: ltr;
}
.footer .footer-cols .footer-col-title {
  font-size: 25px;
  color: #FFF;
  margin-bottom: 10px;
}
.footer .footer-cols .footer-rows .footer-row {
  color: #fff;
  margin: 5px 0;
}
.footer .footer-cols .footer-brand {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.footer .footer-cols .footer-brand .footer-col-social {
  height: 50px;
}
.footer .footer-cols .footer-brand .footer-rights {
  color: #FFF;
}

.login-form, .contact-form {
  margin: 60px 80px;
  background-color: #FFF;
  display: grid;
  grid-template-columns: 2fr 1fr;
  direction: ltr;
  font-family: "URWGeometricArabic";
  box-shadow: 1px 1px 1px #ccc, -1px 0 0.1em #ddd;
  min-height: 500px;
}
.login-form .input-side, .contact-form .input-side {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px;
}
.login-form .input-side .form-title, .contact-form .input-side .form-title {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 25px;
  color: #4C31BC;
  border-bottom: 2px solid #4C31BC;
}
.login-form .form-side, .contact-form .form-side {
  background-image: url("/uploads/office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.login-form .form-side .wrapper, .contact-form .form-side .wrapper {
  background-color: rgba(10, 10, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}
.login-form .contact-side, .contact-form .contact-side {
  background-color: rgba(10, 10, 255, 0.7);
  position: relative;
}
.login-form .contact-side .wrapper, .contact-form .contact-side .wrapper {
  background-image: url("/assets/img/logo.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 40% 40%;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 5;
}

.col {
  display: flex;
  grid-gap: 10px;
  padding: 10px 60px;
}
.col .input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.col .input-container input {
  outline: none;
  border: 1px solid #CCC;
  padding: 4px 6px;
}
.col .input-container input:focus {
  outline: none;
}
.col .control {
  margin: 10px 0;
}
.col .control button {
  padding: 8px 0;
  background-color: #4C31BC;
  border: 1px solid #4C31BC;
  color: #FFF;
}
.col .control button:hover {
  cursor: pointer;
}

.register-form {
  margin: 60px 80px;
  background-color: #FFF;
  display: grid;
  grid-template-columns: 2fr 1fr;
  direction: ltr;
  font-family: "URWGeometricArabic";
  box-shadow: 1px 1px 1px #ccc, -1px 0 0.1em #ddd;
}
.register-form .input-side {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px;
}
.register-form .input-side .form-title {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 25px;
  color: #4C31BC;
  border-bottom: 2px solid #4C31BC;
}
.register-form .form-side {
  background-image: url("/uploads/office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.register-form .form-side .wrapper {
  background-color: rgba(10, 10, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
.register-form .form-side .image-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  z-index: 100;
  padding: 40px 0;
}
.register-form .form-side .image-container .user-image {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.register-form .form-side .image-container .user-image img {
  filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(241deg) brightness(103%) contrast(103%);
  width: 100%;
  height: 100%;
  border-radius: 50%;
}
.register-form .form-side .image-container label {
  margin: 20px 0;
  display: block;
  color: #FFF;
}

.forgot-form {
  margin: 60px 80px;
  background-color: #FFF;
  display: grid;
  grid-template-columns: 2fr 1fr;
  direction: ltr;
  font-family: "URWGeometricArabic";
  box-shadow: 1px 1px 1px #ccc, -1px 0 0.1em #ddd;
  min-height: 500px;
}
.forgot-form .input-side {
  display: flex;
  flex-direction: column;
  padding: 0 0 20px;
}
.forgot-form .input-side .form-title {
  display: flex;
  justify-content: center;
  padding: 10px 0;
  margin: 10px 0;
  font-size: 25px;
  color: #4C31BC;
  border-bottom: 2px solid #4C31BC;
}
.forgot-form .input-side .col {
  display: flex;
  grid-gap: 10px;
  padding: 10px 60px;
}
.forgot-form .input-side .col .input-container {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}
.forgot-form .input-side .col .input-container input {
  outline: none;
  border: 1px solid #CCC;
  padding: 4px 6px;
}
.forgot-form .input-side .col .input-container input:focus {
  outline: none;
}
.forgot-form .input-side .col .control {
  margin: 10px 0;
}
.forgot-form .input-side .col .control button {
  padding: 8px 0;
  background-color: #4C31BC;
  border: 1px solid #4C31BC;
  color: #FFF;
}
.forgot-form .input-side .col .control button:hover {
  cursor: pointer;
}
.forgot-form .form-side {
  background-image: url("/uploads/office.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}
.forgot-form .form-side .wrapper {
  background-color: rgba(10, 10, 255, 0.7);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.user-profile {
  margin: 50px 0;
}
.user-profile .container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 20px;
  align-items: flex-start;
}
.user-profile .container .user-sidebar {
  padding: 5px;
  background-color: #FFF;
  border-top-right-radius: 10px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}
.user-profile .container .user-sidebar .user-options .image {
  filter: invert(19%) sepia(6%) saturate(143%) hue-rotate(22deg) brightness(93%) contrast(87%);
}
.user-profile .container .user-sidebar .user-profile-picture img {
  width: 100%;
  height: 100%;
}

.post-create {
  margin: 50px 0;
}
.post-create .container {
  display: grid;
  grid-template-columns: 250px 1fr;
  grid-gap: 20px;
  align-items: flex-start;
}
.post-create .container .post-sidebar {
  background-color: #FFF;
  border-top-right-radius: 10px;
  box-shadow: 0 0.5em 1em -0.125em rgba(10, 10, 10, 0.1), 0 0px 0 1px rgba(10, 10, 10, 0.02);
}
.post-create .container .post-sidebar .user-options .image {
  filter: invert(19%) sepia(6%) saturate(143%) hue-rotate(22deg) brightness(93%) contrast(87%);
}

.my-card {
  position: relative;
}
.my-card .settings {
  position: absolute;
  top: 10px;
  left: 5px;
}
.my-card .settings .dropdown .button {
  padding: 0;
  height: auto;
  border: none;
}
.my-card .settings .dropdown .button .menu-icon {
  width: 30px;
  height: 15px;
}

.dropdown {
  background-color: #06D3F4;
  width: 100%;
}
.dropdown .dropdown-trigger {
  padding-left: 0;
  padding-right: 0;
  width: 100%;
}
.dropdown .dropdown-trigger .button {
  border: none;
  outline: none;
  padding-right: 0;
  padding-left: 0;
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 0;
}
.dropdown .dropdown-trigger .button:focus {
  box-shadow: none;
  outline: none !important;
}
.dropdown .dropdown-menu form .button {
  font-size: inherit;
  padding: 0;
  display: flex;
  justify-content: center;
  background: none;
  color: #383837 !important;
  outline: none;
  border: none;
  height: auto;
  font-family: "URWGeometricArabic";
}

form .about-author {
  margin: 20px 60px;
}
form .tags-container {
  display: flex;
  grid-gap: 5px;
  border: 1px solid #EEE;
  padding: 2px;
  flex-wrap: wrap;
}
form .tags-container input {
  border: none !important;
  outline: none;
  width: 100%;
}

/*
   Single Post:
 */
.my-post {
  position: relative;
}
.my-post .container {
  display: grid;
  grid-template-columns: 1fr 300px;
  grid-gap: 20px;
}
.my-post .container .post-thumbnail img {
  width: 100%;
}
.my-post .container .post-author {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}
.my-post .container .post-author .social-share {
  display: flex;
  padding: 15px 0;
}
.my-post .container .post-author .social-share a {
  width: 40px;
  height: 25px;
}
.my-post .container .post-author .social-share a img {
  width: 100%;
  height: 100%;
  filter: invert(16%) sepia(70%) saturate(4906%) hue-rotate(251deg) brightness(79%) contrast(87%);
}

.author-card {
  display: flex;
  grid-gap: 5px;
}
.author-card .author-img {
  width: 80px;
  height: 80px;
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  overflow: hidden;
}
.author-card .author-img img {
  width: 100%;
  height: 100%;
}
.author-card .divider-h {
  width: 6px;
  background-color: #4C31BC;
}
.author-card .author-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.tag-btn {
  border: 1px solid #DDD;
  background-color: #EEE;
  border-radius: 3px;
  padding: 5px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  white-space: nowrap;
}
.tag-btn:hover {
  cursor: pointer;
}
.tag-btn input {
  background-color: #EEE;
}
.tag-btn span {
  display: block;
  margin-right: 10px;
}
.tag-btn span:hover {
  cursor: pointer;
}

/*
    Media Queries
*/
@media screen and (max-width: 576px) {
  .container {
    width: 100%;
  }
}
@media screen and (min-width: 576px) {
  .container {
    width: 540px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 720px;
  }
}
@media screen and (max-width: 768px) {
  .section-page .page-header {
    margin: 40px 0;
  }
  .section-page .page-header .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .latest-section .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .latest-section .container .banner {
    display: none;
  }

  .footer {
    background-color: #4C31BC;
    padding: 50px 0;
    margin: 20px 0 0;
  }
  .footer .footer-cols {
    display: grid;
    grid-template-columns: 1fr;
    direction: ltr;
  }
  .footer .footer-cols .footer-col-title {
    font-size: 25px;
    color: #FFF;
    margin: 10px auto 20px;
    text-align: center;
  }
  .footer .footer-cols .footer-rows {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .main-navbar {
    display: none;
  }
}
@media screen and (max-width: 992px) {
  .top-navbar .container .switch-button {
    display: block;
  }
  .top-navbar .container .nav-items {
    display: flex;
    align-items: center;
    flex-direction: column;
    display: none;
  }
  .top-navbar .container .nav-items .main-item {
    background-color: #06D3F4;
    min-width: 100%;
  }
  .top-navbar .container .nav-items .main-item .nav-link {
    padding: 12px 30px;
    color: #FFF !important;
    display: block;
    font-size: 20px;
  }
  .top-navbar .container .nav-items .main-item .dropdown {
    background-color: #06D3F4;
    width: 100%;
  }
  .top-navbar .container .nav-items .main-item .dropdown .dropdown-trigger {
    padding-left: 0;
    padding-right: 0;
    width: 100%;
  }
  .top-navbar .container .nav-items .main-item .dropdown .dropdown-trigger .button {
    background-color: #06D3F4;
    border: none;
    outline: none;
    padding-right: 0;
    padding-left: 0;
    min-width: 100%;
    display: flex;
    justify-content: space-around;
  }
  .top-navbar .container .nav-items .main-item .dropdown .dropdown-trigger .button:focus {
    box-shadow: none;
    outline: none !important;
  }
  .top-navbar .container .nav-items .main-item .dropdown .dropdown-menu form .button {
    font-size: inherit;
    padding: 0;
    display: flex;
    justify-content: center;
    background: none;
    color: #383837 !important;
    outline: none;
    border: none;
    height: auto;
    font-family: "URWGeometricArabic";
  }
  .top-navbar .container .nav-items .nav-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .top-navbar .container .nav-items .nav-item .nav-link {
    display: block;
    padding: 12px 25px;
    color: #383837;
    font-size: 18px;
  }

  .latest-section .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .latest-section .container .banner {
    display: none;
  }

  .my-post .container, .posts-page .container {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  .container {
    width: 960px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1140px;
    margin: 0 auto;
  }
}
