body, html {
  background-color: #F9F9F9;
}

#app {
  position: relative;
  top: 60px;
  margin-bottom: 100px;
}

.blue {
  background: #4C31BC;
}

.light-blue {
  background-color: #06D3F4;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.container {
  margin: 0 auto;
}

label {
  font-size: 17px;
}

.top-navbar {
  background-color: #FFF;
}
.top-navbar .container .nav-items .nav-item .nav-link {
  color: #383837;
}
.top-navbar .container .nav-items .main-item .dropdown .dropdown-menu form .button {
  color: #383837 !important;
}

.main-navbar {
  background-color: #4C31BC;
}
.main-navbar .container .nav-search {
  color: #06D3F4;
}
.main-navbar .container .nav-search .search-form {
  display: flex;
  align-items: center;
}
.main-navbar .container .nav-search .search-form input {
  color: #06D3F4;
}

.section-page .page-header .container .main-post {
  background-color: #FCFCFC;
}
.section-page .page-header .container .main-post .post-title a {
  color: #383837;
}
.section-page .page-header .container .main-post .post-excerpt {
  color: #9A9A9A;
}
.section-page .page-header .container .sub-posts .post {
  background-color: #FCFCFC;
}
.section-page .page-header .container .sub-posts .post .post-info .post-title a {
  color: #383837;
}
.section-page .page-header .container .sub-posts .post .post-info .post-excerpt {
  color: #9A9A9A;
}

.posts .post {
  background-color: #FCFCFC;
}
.posts .post .post-img .post-date {
  color: #9A9A9A;
}
.posts .post .post-info .post-title a {
  color: #383837;
}
.posts .post .post-info .post-excerpt {
  color: #9A9A9A;
}

.watermark-top {
  border-top: 5px solid #4C31BC;
  border-right: 5px solid #4C31BC;
}
.watermark-top .inner {
  background-color: #06D3F4;
}

.watermark-bottom {
  border-bottom: 5px solid #4C31BC;
  border-left: 5px solid #4C31BC;
}
.watermark-bottom .inner {
  background-color: #06D3F4;
}

.sidebar {
  margin: 10px 0;
}
.sidebar .tabs ul li {
  flex: 1;
}
.sidebar .tabs ul li a {
  font-size: 17px;
}
.sidebar .items {
  display: none;
}
.sidebar .items .item {
  background-color: #FEFEFE;
}
.sidebar .items .item:hover {
  opacity: 0.8;
  cursor: pointer;
}
.sidebar .items .post .post-info .post-title a:hover {
  color: rgba(56, 56, 55, 0.8);
  transition: all 0.3s ease-in-out;
}
.sidebar .show {
  display: block;
}
.sidebar .side-item {
  background-color: #FFF;
  border: 1px solid #EEE;
}

.more-bar {
  background-color: inherit;
}
.more-bar .bar {
  background-color: #4C31BC;
}
.more-bar .bar-text {
  border: 4px solid #4C31BC;
  color: #4C31BC;
}

.footer {
  background-color: #4C31BC;
}

.login-form, .contact-form {
  background-color: #FFF;
}

.col .input-container label {
  color: #383837;
}
.col .input-container input {
  outline: none;
  border: 1px solid #CCC;
  padding: 4px 6px;
}

.register-form {
  background-color: #FFF;
}
.register-form .form-side .wrapper {
  background-color: #4C31BC;
}

.forgot-form {
  background-color: #FFF;
}

.user-profile .container .user-sidebar {
  background-color: #FFF;
}
.user-profile .container .user-sidebar .user-options {
  color: #000;
}
.user-profile .container .user-sidebar .user-options .image {
  filter: invert(32%) sepia(93%) saturate(718%) hue-rotate(201deg) brightness(94%) contrast(94%) !important;
}
.user-profile .container .user-sidebar .user-profile-picture img {
  width: 100%;
  height: 100%;
  border: 2px solid #DDD;
}
.user-profile .container .user-sidebar .user-profile-picture img:hover {
  cursor: pointer;
}

.post-create .container .post-sidebar {
  background-color: #FFF;
}

.settings {
  position: absolute;
  top: 10px;
  left: 5px;
  z-index: 10;
}
.settings .dropdown .button > div {
  background-color: #000;
}

.dropdown:hover {
  cursor: pointer;
}
.dropdown .dropdown-menu form .button {
  color: #383837 !important;
}

form .tags-container {
  border: 1px solid #EEE;
}

/*
   Single Post:
 */
.author-card .divider-h {
  background-color: #4C31BC;
}

.tag-btn {
  border: 1px solid #DDD;
}

.confidentiality {
  background: #FFF;
  padding: 20px;
  border-radius: 5px;
  font-size: 18px;
  margin: 50px auto;
}

/*
    Media Queries
*/
@media screen and (max-width: 768px) {
  .section-page .page-header {
    margin: 40px 0;
  }
  .section-page .page-header .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 10px;
  }

  .latest-section .container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
  }
  .latest-section .container .banner {
    display: none;
  }

  .footer {
    background-color: #4C31BC;
  }
}
@media screen and (max-width: 992px) {
  #app {
    top: 0;
  }

  .m-navbar {
    background-color: #FFF;
  }
  .m-navbar .m-nav .three-bars > div {
    background-color: #4C31BC;
  }
  .m-navbar .m-menu {
    background-color: #FFF;
  }
  .m-navbar .m-menu .cross-bars > div {
    background-color: #4C31BC;
  }
  .m-navbar .m-menu .m-item .m-link {
    color: #1E1E23;
  }

  .t-navbar {
    background-color: #4C31BC;
  }

  .posts .post .post-img .post-date {
    color: #9A9A9A;
  }
}
