$grey: #383837;
$grey-text : #9A9A9A;
$blue: #4C31BC;
$light-blue: #06D3F4;
$background-color : #F9F9F9;

body,html {
    background-color: $background-color;
}
#app {
    position: relative;
    top:60px;
    margin-bottom: 100px;
}
.blue {
    background: $blue;
}
.light-blue {
    background-color: $light-blue;
}
a {
    text-decoration: none;
    &:hover {
        text-decoration: none;
    }
}
.container {
    margin:0 auto;
}
label {
    font-size:17px;
}
.top-navbar {
    background-color: #FFF;
    .container {
        .nav-items {
            .nav-item {
                .nav-link {
                    color: #383837;
                }
            }
            .main-item {
                .dropdown {
                    .dropdown-menu {
                        form {
                            .button {
                                color:$grey !important;
                            }
                        }
                    }
                }
            }
        }
    }
}
.main-navbar {
    background-color: $blue;
    .container {
        .nav-search {
            color:$light-blue;
            .search-form {
                display:flex;
                align-items: center;
                input {
                    color:$light-blue;
                }
            }
        }
    }
}
.section-page {
    .page-header {
        .container {
            .main-post {
                background-color: #FCFCFC;
                .post-title {
                    a {
                        color:$grey;
                    }
                }
                .post-excerpt {
                    color: $grey-text;
                }
            }
            .sub-posts {
                .post {
                    background-color: #FCFCFC;
                    .post-info {
                        .post-title {
                            a {
                                color:$grey;
                            }
                        }
                        .post-excerpt {
                            color: $grey-text;
                        }
                    }
                }
            }
        }
    }
}
.posts {
    .post {
        background-color: #FCFCFC;
        .post-img {
            .post-date {
                color: $grey-text;
            }
        }
        .post-info {
            .post-title {
                a {
                    color:$grey;
                }
            }
            .post-excerpt {
                color: $grey-text;
            }
        }
    }
}
.watermark-top {
    border-top: 5px solid $blue;
    border-right: 5px solid $blue;
    .inner {
        background-color: $light-blue;
    }
}
.watermark-bottom {
    border-bottom: 5px solid $blue;
    border-left: 5px solid $blue;
    .inner {
        background-color: $light-blue;
    }
}
.sidebar {
    margin:10px 0;
    .tabs {
        ul {
            li {
                flex:1;
                a{
                    font-size: 17px;
                }
            }
        }
    }
    .items {
        display:none;
        .item {
            background-color:#FEFEFE;
            &:hover {
                opacity: 0.8;
                cursor: pointer;
            }
        }
        .post {
            .post-info {
                .post-title {
                    a {
                        &:hover {
                            color:rgba(56, 56, 55,0.8);
                            transition: all 0.3s ease-in-out;
                        }
                    }
                }
            }
        }
    }
    .show {
        display:block;
    }
    .side-item {
        background-color: #FFF;
        border:1px solid #EEE;
    }
}
.more-bar {
    background-color: inherit;
    .bar {
        background-color: $blue;
    }
    .bar-text {
        border:4px solid $blue;
        color:$blue;
    }
}
.footer {
    background-color:$blue;
}
.login-form, .contact-form {
    background-color:#FFF;
}
.col {
    .input-container {
        label {
            color: $grey;
        }
        input {
            outline:none;
            border:1px solid #CCC;
            padding:4px 6px;
        }
    }
}
.register-form {
    background-color:#FFF;
    .form-side {
        .wrapper {
            background-color: $blue;
        }
    }
}
.forgot-form {
    background-color:#FFF;
}
.user-profile {
    .container {
        .user-sidebar {
            background-color:#FFF;
            .user-options {
                color:#000;
                .image {
                    filter: invert(32%) sepia(93%) saturate(718%) hue-rotate(201deg) brightness(94%) contrast(94%) !important;
                }
            }
            .user-profile-picture {
                img {
                    width: 100%;
                    height: 100%;
                    border: 2px solid #DDD;
                    &:hover {
                        cursor:pointer;
                    }
                }
            }
        }
    }
}
.post-create {
    .container {
        .post-sidebar {
            background-color:#FFF;
        }
    }
}
.settings {
    position:absolute;
    top:10px;
    left:5px;
    z-index: 10;
    .dropdown {
        .button {
            &>div{
                background-color: #000;
            }
        }
    }
}
.dropdown {
    &:hover {
        cursor: pointer;
    }
    .dropdown-menu {
        form {
            .button {
                color:$grey !important;
            }
        }
    }
}
form {
    .tags-container {
        border:1px solid #EEE;
    }
}
/*
   Single Post:
 */
.my-post {
}
.author-card {
    .divider-h {
        background-color: $blue;
    }
}
.tag-btn {
    border:1px solid #DDD;
}
.confidentiality {
    background: #FFF;
    padding: 20px;
    border-radius: 5px;
    font-size: 18px;
    margin: 50px auto;
}

/*
    Media Queries
*/

@media screen and (max-width: 768px) {
    .section-page {
        .page-header {
            margin:40px 0;
            .container {
                display:grid;
                grid-template-columns: 1fr;
                grid-gap: 10px;
            }
        }
    }
    .latest-section {
        .container{
            display:grid;
            grid-template-columns: 1fr;
            grid-gap:20px;
            .banner {
                display:none;
            }
        }
    }
    .footer {
        background-color:$blue;
    }
}

@media screen and (max-width: 992px) {
    #app {
        top: 0;
    }
    .m-navbar {
        background-color: #FFF;
        .m-nav{
            .three-bars {
                >div {
                    background-color:$blue;
                }
            }
        }
        .m-menu {
            background-color:#FFF;
            .cross-bars {
                >div {
                    background-color:$blue;
                }
            }
            .m-item {
                .m-link {
                    color:#1E1E23;
                }
            }
        }
    }
    .t-navbar {
        background-color: $blue;
    }
    .posts{
        .post {
            .post-img {
                .post-date {
                    color: $grey-text;
                }
            }
        }
    }
}

